<%= form_with(model: session, local: true) do |form| %>
  <% if flash[:alert] %>
    <div class="form-group">
      <div class="alert alert-danger form-control" role="alert">
        <%= t(flash[:alert]) %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('Login') %>
    <%= form.text_field :login, value: flash[:login], id: :login, class: "form-control", placeholder: t('Login'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Password') %>
    <%= form.password_field :password, id: "password", class: "form-control", placeholder: t('Password'), required: "required" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary", value: t('login')  %>
  </div>
<% end %>
