<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('Address') %>
    <%= form.text_field :address, id: :house_address, class: "form-control", placeholder: t('Input Address'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Number of storeys') %>
    <%= form.number_field :number_of_storeys, id: :house_number_of_storeys, class: "form-control", placeholder: t('Input Number of storeys'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Management company') %>
    <%= form.select :management_company_id, ManagementCompany.all.collect {|m| [m.name, m.id]}, {:selected => @house.management_company_id}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
