<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Houses') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Address') %></th>
      <th><%= t('Number of storeys') %></th>
      <th><%= t('Management company') %></th>
      <th><%= t('Description') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <% cache house do %>
        <tr>
          <td><%= house.address %></td>
          <td><%= house.number_of_storeys %></td>
          <td><%= house.management_company.name %></td>
          <td><%= link_to t('Show'), house %></td>
          <td><%= link_to t('Edit'), edit_house_path(house) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New House'), new_house_path %>
