<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('House') %></h1>
<p>
  <strong><%= t('Address') %>:</strong>
  <%= @house.address %>
</p>

<p>
  <strong><%= t('Number of storeys') %>:</strong>
  <%= @house.number_of_storeys %>
</p>

<p>
  <strong><%= t('Management company') %>:</strong>
  <%= @house.management_company.name %>
</p>

<%= link_to t('Edit'), edit_house_path(@house) %> |
<%= link_to t('Back'), houses_path %>
