<%= form_with(model: elevator, local: true) do |form| %>
  <% if elevator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elevator.errors.count, "error") %> prohibited this elevator from being saved:</h2>

      <ul>
      <% elevator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label t('House') %>
    <%= form.select :house_id, House.all.collect {|m| [m.address, m.id]}, {:selected => @elevator.house_id}, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label t('Elevator Type') %>
    <%= form.select :elevator_type_id, ElevatorType.all.collect {|m| [m.name, m.id]}, {:selected => @elevator.elevator_type_id}, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label t('Serial number') %>
    <%= form.text_field :serial_number, id: :serial_number, class: "form-control", placeholder: t('Input Serial number'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Member') %>
    <%= form.select :member_id, Member.where(member_type_id: 4).collect {|m| [m.full_name, m.id]}, {:selected => @elevator.member_id}, class: "form-control" %>
  </div>
    
  <div class="form-group">
    <%= form.label t('Date of commissioning') %>
    <%= form.date_field  :commissioning_date, id: :commissioning_date, class: "form-control", placeholder: t('Input Commissioning date'), required: "required" %>  
  </div>
  
  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
      
<% end %>
