<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Elevators') %></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('House') %></th>
      <th><%= t('Elevator Type') %></th>
      <th><%= t('Serial number') %></th>
      <th><%= t('Member') %></th>
      <th><%= t('Description') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @elevators.each do |elevator| %>
      <% cache elevator do %>
        <tr>
          <td><%= link_to elevator.house.address, elevator.house %></td>
          <td><%= link_to elevator.elevator_type.name, elevator.elevator_type %></td>
          <td><%= link_to elevator.serial_number, elevator %></td>
          <td><%= link_to elevator.member.full_name, elevator.member %></td>
          <td><%= link_to t('Show'), elevator %></td>
          <td><%= link_to t('Edit'), edit_elevator_path(elevator) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('Problem stat'), '/elevators/stat' %>

<br>

<%= link_to t('New Elevator'), new_elevator_path %>
