<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Service stat') %></h1>
<sapn><b><%= t('Elevator') %></b><span>
<span><%= t('Serial number') %></span>
<span><%= @elevator.serial_number %></span>
    
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Created At') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% ServiceEvent.where(:elevator_id => @elevator.id).order(created_at: :desc).each do |service_event| %>
      <tr>
        <td><%= service_event.name %></td>
        <td><%= Time.zone.at(service_event.created_at).strftime("%F %T") %></td>
        <td><%= link_to t('Show'), service_event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
