<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Elevator') %></h1>

<p>
  <strong><%= t('House') %>:</strong>
  <%= @elevator.house.address %>
</p>

<p>
  <strong><%= t('Elevator Type') %>:</strong>
  <%= @elevator.elevator_type.name %>
</p>

<p>
  <strong><%= t('Serial number') %>:</strong>
  <%= @elevator.serial_number %>
</p>

<p>
  <strong><%= t('Date of commissioning') %>:</strong>
  <%= Time.zone.at(@elevator.commissioning_date).strftime("%F") %>
</p>

<p>
  <strong><%= t('Member') %>:</strong>
  <%= @elevator.member.full_name %>
</p>

<p>
  <strong><%= t('Problem count') %>:</strong>
  <%= ProblemEvent.where(elevator_id: @elevator.id).count  %>
</p>

<p>
  <strong><%= t('Problem stat') %>:</strong>
  <%= link_to t('Show'), '/elevators/problem?id=' + @elevator.id.to_s %>
</p>

<p>
  <strong><%= t('Service count') %>:</strong>
  <%= ServiceEvent.where(elevator_id: @elevator.id).count  %>
</p>

<p>
  <strong><%= t('Service stat') %>:</strong>
  <%= link_to t('Show'), '/elevators/service?id=' + @elevator.id.to_s %>
</p>

<%= link_to t('Edit'), edit_elevator_path(@elevator) %> |
<%= link_to t('Back'), elevators_path %>
