<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Problem stat')+t('by elevators') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('House') %></th>
      <th><%= t('Elevator Type') %></th>
      <th><%= t('Problem count') %></th>
      <th><%= t('Serial number') %></th>
      <th><%= t('Member') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @elevators.each do |elevator| %>
      <% cache elevator do %>
        <tr>
          <td><%= elevator.house.address %></td>
          <td><%= elevator.elevator_type.name %></td>
          <td><%= ProblemEvent.where(elevator_id: elevator.id).count %></td>
          <td><%= elevator.serial_number %></td>
          <td><%= elevator.member.full_name %></td>
          <td><%= link_to t('Show'), '/elevators/problem?id=' + elevator.id.to_s %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<!--
<td><%= link_to t('Print as PDF'), format: 'pdf' %></td>
-->
