<%= form_with(model: service_event, local: true) do |form| %>
  <% if service_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_event.errors.count, "error") %> prohibited this service_event from being saved:</h2>

      <ul>
      <% service_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('Member') %>
    <p class="form-control" readonly><%= current_user.full_name %></p>
  </div>
  
  <div class="form-group">
    <%= form.label t('Elevator') %>
    <%= form.select :elevator_id, Elevator.all.collect {|m| [m.id, m.id]}, {:selected => @service_event.elevator_id}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t("Problem Event") %>
    <%= form.select :problem_event_id, @problem_events.where(solved: false).collect {|m| [m.name, m.id]}, {:selected => @service_event.problem_event_id}, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label t('Name') %>
    <%= form.text_field :name, id: :service_event_name, class: "form-control", placeholder: t('Input Name'), required: "required" %>
  </div>
  
  <div class="form-group">
    <%= form.label t('Description') %>
    <%= form.text_area :description, id: :service_event_description, class: "form-control", placeholder: t('Input Description'), required: "required" %>
  </div>
  
  <div class="form-group">
    <%= form.label t("Problem solved?") %>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="solved" id="solved_true" autocomplete="off" checked value='Yes'> <%= t('Yes') %>
      </label>
      <label class="btn btn-light">
        <input type="radio" name="solved" id="solved_false" autocomplete="off" value='No'> <%= t('No') %>
      </label>
    </div>
  </div>
    
  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
