<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>


<h1><%= t('Service Events') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Serial number') %></th>
      <th><%= t('Member') %></th>
      <th><%= t("Problem Event") %></th>
      <th><%= t('Description') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_events.each do |service_event| %>
      <% cache service_event do %>
        <tr>
          <td><%= service_event.name %></td>
          <td><%= link_to service_event.elevator.serial_number, service_event.elevator %></td>
          <td><%= link_to service_event.member.full_name, service_event.member %></td>
          <td><%= link_to service_event.problem_event.name, service_event.problem_event %></td>
          <td><%= link_to t('Show'), service_event %></td>
          <td><%= link_to t('Edit'), edit_service_event_path(service_event) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Service Event'), new_service_event_path %>
