<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h2><%= @service_event.name %></h2>

<p>
  <strong><%= t('Address') %>:</strong>
  <%= @service_event.elevator.house.address %>
</p>

<p>
  <strong><%= t('Elevator') %>:</strong>
  <%= @service_event.elevator.elevator_type.name %>
</p>

<p>
  <strong><%= t('Description') %>:</strong>
  <%= @service_event.description %>
</p>

<p>
  <strong><%= t('Member') %>:</strong>
  <%= @service_event.member.full_name %>
</p>

<p>
  <strong><%= t('Problem Event') %>:</strong>
  <%= link_to @service_event.problem_event.name, @service_event.problem_event %>
</p>

<%= link_to t('Edit'), edit_service_event_path(@service_event) %> |
<%= link_to t('Back'), service_events_path %>
