<%= form_with(model: management_company, local: true) do |form| %>
  <% if management_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(management_company.errors.count, "error") %> prohibited this management_company from being saved:</h2>

      <ul>
      <% management_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label t('Name'), :for => :management_company_name %>
    <%= form.text_field :name, id: :management_company_name, class: "form-control", placeholder: t('Input Name'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Address'), :for => :management_company_address  %>
    <%= form.text_field :address, id: :management_company_address, class: "form-control", placeholder: t('Input Address'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('email'), :for => :management_company_email  %>
    <%= form.email_field :email, id: :management_company_email, class: "form-control", placeholder: t('Input Email') %>
  </div>

  <div class="form-group">
    <%= form.label t('Phone'), :for => :management_company_phone  %>
    <%= form.text_field :phone, id: :management_company_phone, class: "form-control", placeholder: t('Input Phone'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
