<h1><%= t("Editing Management Company") %></h1>

<%= render 'form', management_company: @management_company %>
<%= link_to t("Show"), @management_company %> |
<%= link_to t("Back"), management_companies_path %>
