<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Management Companies') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Address') %></th>
      <th><%= t('Email') %></th>
      <th><%= t('Phone') %></th>
      <th><%= t('Description') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @management_companies.each do |management_company| %>
      <% cache management_company do %>
        <tr>
          <td><%= management_company.name %></td>
          <td><%= management_company.address %></td>
          <td>
          <%= link_to management_company.email, "mailto: "+ management_company.email %>
          </td>
          <td>
          <%= link_to management_company.phone, "tel: "+ management_company.phone %>
          </td>
          <td><%= link_to t('Show'), management_company %></td>
          <td><%= link_to t('Edit'), edit_management_company_path(management_company) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Management Company'), new_management_company_path %>
