<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Management company') %></h1>

<p>
  <strong><%= t('Name') %>:</strong>
  <%= @management_company.name %>
</p>

<p>
  <strong><%= t('Address') %>:</strong>
  <%= @management_company.address %>
</p>

<p>
  <strong><%= t('Email') %>:</strong>
  <%= link_to @management_company.email, "mailto: "+ @management_company.email %>
</p>

<p>
  <strong><%= t('Phone') %>:</strong>
  <%= link_to @management_company.phone, "tel: "+ @management_company.phone %>
</p>

<%= link_to t('Edit'), edit_management_company_path(@management_company) %> |
<%= link_to t('Back'), management_companies_path %>
