<%= form_with(model: elevator_type, local: true) do |form| %>
  <% if elevator_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elevator_type.errors.count, "error") %> prohibited this elevator_type from being saved:</h2>

      <ul>
      <% elevator_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('Name') %>
    <%= form.text_field :name, id: :elevator_type_name, class: "form-control", placeholder: t('Input Name'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Factory Manufacturer') %>
    <%= form.text_field :factory_manufacturer, id: :factory_manufacturer, class: "form-control", placeholder: t('Input Factory Manufacturer'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Load carrying capacity') %>
    <%= form.number_field :load_carrying_capacity, id: :elevator_type_load_carrying_capacity, class: "form-control", placeholder: t('Input Load carrying capacity'), required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label t('Nominal speed') %>
    <%= form.number_field :nominal_speed, id: :elevator_type_nominal_speed, class: "form-control", placeholder: t('Input Nominal speed'), step: '0.01', required: "required" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
