<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Elevator Types') %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Load carrying capacity') %></th>
      <th><%= t('Nominal speed') %></th>
      <th><%= t('Description') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @elevator_types.order(name: :asc).each do |elevator_type| %>
      <% cache elevator_type do %>
        <tr>
          <td><%= elevator_type.name %></td>
          <td><%= elevator_type.load_carrying_capacity %></td>
          <td><%= elevator_type.nominal_speed %></td>
          <td><%= link_to t('Show'), elevator_type %></td>
          <td><%= link_to t('Edit'), edit_elevator_type_path(elevator_type) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Elevator Type'), new_elevator_type_path %>
