<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Elevator Type') %></h1>

<p>
  <strong><%= t('Name') %>:</strong>
  <%= @elevator_type.name %>
</p>

<p>
  <strong><%= t('Factory Manufacturer') %>:</strong>
  <%= @elevator_type.factory_manufacturer %>
</p>


<p>
  <strong><%= t('Load carrying capacity') %>:</strong>
  <%= @elevator_type.load_carrying_capacity %>
</p>

<p>
  <strong><%= t('Nominal speed') %>:</strong>
  <%= @elevator_type.nominal_speed %>
</p>

<%= link_to t('Edit'), edit_elevator_type_path(@elevator_type) %> |
<%= link_to t('Back'), elevator_types_path %>
