<%= form_with(model: problem_event, local: true) do |form| %>
  <% if problem_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem_event.errors.count, "error") %> prohibited this problem_event from being saved:</h2>

      <ul>
      <% problem_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('Elevator') %>
    <%= form.label t('Serial number') %>
    <%= form.select :elevator_id, Elevator.all.collect {|m| [m.serial_number, m.id]}, {:selected => @problem_event.elevator_id}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('Member') %>
    <%= form.select :member_id, Member.where(member_type_id: 4).collect {|m| [m.full_name, m.id]}, {:selected => @problem_event.member_id}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('Name') %>
    <%= form.text_field :name, id: :problem_event_description, class: "form-control", placeholder: t('Input Name'), required: "required" %>
  </div>
  
  <div class="form-group">
    <%= form.label t('Planed date') %>
    <%= form.date_field  :planed_date, id: :planed_date, class: "form-control", placeholder: t('Input Planed date') %>  
  </div>

  <div class="form-group">
    <%= form.label t('Description') %>
    <%= form.text_area :description, id: :problem_event_description, class: "form-control", placeholder: t('Input Description'), required: "required" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
