<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Problem Events') %></h1>

<h2><%= t('Not solveds') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Serial number') %></th>
      <th><%= t('Member') %></th>
      <th><%= t('Service events count') %></th>
      <th><%= t('Description') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_events.where(solved: false).each do |problem_event| %>
      <% cache problem_event do %>
        <tr>
          <td><%= problem_event.name %></td>
          <td><%= link_to problem_event.elevator.serial_number, problem_event.elevator %></td>
          <td><%= link_to problem_event.member.full_name, problem_event.member %></td>
          <td><%= ServiceEvent.where(problem_event: problem_event.id).count %></td>
          <td><%= link_to t('Show'), problem_event %></td>
          <td><%= link_to t('Edit'), edit_problem_event_path(problem_event) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('Problem stat')+t('by elevators'), '/elevators/stat' %>
<br>
<%= link_to t('Problem stat')+t('by members'), '/members/stat' %>
<br>

<%= link_to t('New Problem Event'), new_problem_event_path %>

<h2><%= t('Solveds') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Serial number') %></th>
      <th><%= t('Member') %></th>
      <th><%= t('Service events count') %></th>
      <th><%= t('Description') %></th>
    </tr>
  </thead>

   <tbody>
    <% @problem_events.where(solved: true).each do |problem_event| %>
      <% cache problem_event do %>
        <tr>
          <td><%= problem_event.name %></td>
          <td><%= link_to problem_event.elevator.serial_number, problem_event.elevator %></td>
          <td><%= link_to problem_event.member.full_name, problem_event.member %></td>
          <td><%= ServiceEvent.where(problem_event: problem_event.id).count %></td>
          <td><%= link_to t('Show'), problem_event %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

