<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h2><%= @problem_event.name %></h2>

<p>
  <strong><%= t('Address') %>:</strong>
  <%= @problem_event.elevator.house.address %>
</p>

<% if not @problem_event.planed_date.nil? %>
  <p>
    <strong><%= t('Planed date') %>:</strong>
    <%= Time.zone.at(@problem_event.planed_date).strftime("%F") %>
  </p>
<% end %>

<p>
  <strong><%= t('Elevator') %>:</strong>
  <%= @problem_event.elevator.id %>
</p>

<p>
  <strong><%= t('Solved') %>:</strong>
  <%= @problem_event.print_solved %>
</p>

<p>
  <strong><%= t('Member') %>:</strong>
  <%= @problem_event.member.full_name %>
</p>

<p>
  <strong><%= t('Description') %>:</strong>
  <%= @problem_event.description %>
</p>
<% if @problem_event.solved != true %>
  <%= link_to t('Edit'), edit_problem_event_path(@problem_event) %> |
<% end %>
<%= link_to t('Back'), problem_events_path %>

<h2><%= t('Service Events') + t('for this problem') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Member') %></th>
      <th><%= t('Description') %></th>
    </tr>
  </thead>

  <tbody>
    <% ServiceEvent.where(problem_event_id: @problem_event.id).each do |service_event| %>
      <tr>
        <td><%= service_event.name %></td>
        <td><%= link_to service_event.member.full_name, service_event.member %></td>
        <td><%= link_to t('Show'), service_event %></td>
      </tr>
    <% end %>
  </tbody>
</table>
