<%= form_with(model: member_type, local: true) do |form| %>
  <% if member_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_type.errors.count, "error") %> prohibited this member_type from being saved:</h2>

      <ul>
      <% member_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('Name') %>
    <%= form.text_field :name, id: :member_type_name, required: "required" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
