<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Member Types') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Count') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_types.each do |member_type| %>
      <% cache member_type do %>
        <tr>
          <td><%= member_type.name %></td>
          <td><%= Member.where(member_type_id: member_type.id).count %></td>
          <td><%= link_to t('Show'), member_type %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
