<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h2>
  <%= @member_type.name %>
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('First name') %></th>
      <th><%= t('Second name') %></th>
      <th><%= t('Phone') %></th>
      <th><%= t('Login') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% Member.where(member_type_id: @member_type.id).each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.second_name %></td>
        <td><%= member.phone %></td>
        <td><%= member.login %></td>
        <td><%= link_to t('Show'), member %></td>
        <td><%= link_to t('Edit'), edit_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('Back'), member_types_path %>
