<% I18n.locale=:ru %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= t('LiftControl') %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" /> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <link rel="icon" type="image/svg+xml" href="/images/elevator.svg" /> 
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="/">
        <%= image_tag "elevator.svg", height: "30", width: "30", class: "d-inline-block align-top" %>
        <%= t('LiftControl') %>
      </a>
      <% if current_user %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            
              <% if elevator_manager? %>              
                <li class="nav-item">
                  <% if current_page?(controller: 'management_companies') %>
                    <a class="nav-link active" href="/management_companies"><%= t("Management Companies") %></a>
                  <% else %>
                    <a class="nav-link" href="/management_companies"><%= t("Management Companies") %></a>
                  <% end %>
                </li>
              <% end %>
              
              <% if operator? or elevator_manager? %>
              <li class="nav-item">
                <% if current_page?(controller: 'houses') %>
                  <a class="nav-link active" href="/houses"><%= t("Houses") %></a>
                <% else %>
                  <a class="nav-link" href="/houses"><%= t("Houses") %></a>
                <% end %>
              </li>
              <% end %>
              
              <% if elevator_repair_specialist? or operator? or elevator_manager? %>
              <li class="nav-item">
                <% if current_page?(controller: 'problem_events') %>
                  <a class="nav-link active" href="/problem_events"><%= t("Problem Events") %></a>
                <% else %>
                  <a class="nav-link" href="/problem_events"><%= t("Problem Events") %></a>
                <% end %>
              </li>
              <% end %>
              
              <% if elevator_repair_specialist? or operator? or elevator_manager? %>
              <li class="nav-item">
                <% if current_page?(controller: 'service_events') %>
                  <a class="nav-link active" href="/service_events"><%= t("Service Events") %></a>
                <% else %>
                  <a class="nav-link" href="/service_events"><%= t("Service Events") %></a>
                <% end %>
              </li>
              <% end %>
              
              <% if hr? %>
              <li class="nav-item">
                <% if current_page?(controller: 'members') %>
                  <a class="nav-link active" href="/members"><%= t("Members") %></a>
                <% else %>
                  <a class="nav-link" href="/members"><%= t("Members") %></a>
                <% end %>
              </li>
              <% end %>
              
              <% if hr? %>
              <li class="nav-item">
                <% if current_page?(controller: 'member_types') %>
                  <a class="nav-link active" href="/member_types"><%= t("Member Types") %></a>
                <% else %>
                  <a class="nav-link" href="/member_types"><%= t("Member Types") %></a>
                <% end %>
              </li>
              <% end %>
              
              <% if elevator_manager? or elevator_repair_specialist? %>
              <li class="nav-item">
                <% if current_page?(controller: 'elevators') %>
                  <a class="nav-link active" href="/elevators"><%= t("Elevators") %></a>
                <% else %>
                  <a class="nav-link" href="/elevators"><%= t("Elevators") %></a>
                <% end %>
              </li>
              <% end %>
              
              <% if elevator_manager? or elevator_repair_specialist? %>
              <li class="nav-item">
                <% if current_page?(controller: 'elevator_types') %>
                  <a class="nav-link active" href="/elevator_types"><%= t("Elevator Types") %></a>
                <% else %>
                  <a class="nav-link" href="/elevator_types"><%= t("Elevator Types") %></a>
                <% end %>
              </li>
              <% end %>
              </ul>
              <ul class="navbar-nav">
                <a class="nav-link" href="/logout"><%= t("Logout") %></a>
            </ul>
          </div>
      <% end %>
           
    </nav>
    <div class="container" style="margin-top: 64pt; margin-bottom: 64pt;">
    <% if current_user %>
      <span>Вы вошли как:</span>
      <span><%= current_user.second_name + ' ' + current_user.first_name %> - </span>
      <span><%=current_user.member_type.name %></span>
    <% end %>
      <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container">
      
        <p>Программный комплекс является курсовой работой по дисциплине "Базы данных".</p>
        <p><nofollow>Разработчик: <a href="https://t.me/brbrroman">Векшин Роман</a></nofollow>.</p>
        <span><%= t('Time zone') + ': ' + Time.zone_default.to_s %></span>
      </div>
    </footer>
    
  </body>
</html>
