<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('Second name') %>
    <%= form.text_field :second_name, id: :member_second_name, class: "form-control", placeholder: t('Second name'), required: "required", oninput: "transliterate(document.getElementById('member_second_name').value + ' ' + document.getElementById('member_first_name').value)" %>
  </div>
  
  <div class="form-group">
    <%= form.label t('First name') %>
    <%= form.text_field :first_name, id: :member_first_name, class: "form-control", placeholder: t('First name'), required: "required", oninput: "transliterate(document.getElementById('member_second_name').value + ' ' + document.getElementById('member_first_name').value)"%>
  </div>

  <div class="form-group">
    <%= form.label t('Patronymic') %>
    <%= form.text_field :patronymic, id: :member_patronymic, class: "form-control", placeholder: t('Patronymic') %>
  </div>

  <div class="form-group">
    <%= form.label t('Phone') %>
    <%= form.text_field :phone, id: :member_phone, class: "form-control", placeholder: t('Phone')  %>
  </div>

  <div class="form-group">
    <%= form.label t('Login') %>
    <%= form.text_field :login, id: :member_login, class: "form-control", placeholder: t('Login'), required: "required"  %>
  </div>

  <div class="form-group">
    <%= form.label t('Password') %>
    <%= form.text_field :password, id: :member_password, class: "form-control", placeholder: t('Password'), required: "required"  %>
  </div>
  
  <div class="form-group">
    <%= form.label t('Member Type') %>
    <%= form.select :member_type_id, MemberType.all.collect {|m| [m.name, m.id]}, {:selected => @member.member_type_id}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
