<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Members') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Second name') %></th>
      <th><%= t('First name') %></th>
      <th><%= t('Patronymic') %></th>
      <th><%= t('Phone') %></th>
      <th><%= t('Login') %></th>
      <th><%= t('Member Type') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.order(second_name: :asc).each do |member| %>
      <% cache member do %>
        <tr>
          <td><%= member.second_name %></td>
          <td><%= member.first_name %></td>
          <td><%= member.patronymic %></td>
          <td>
          <%= link_to member.phone, "tel: "+ member.phone %>
          </td>
          <td><%= member.login %></td>
          <td><%= member.member_type.name %></td>
          <td><%= link_to t('Show'), member %></td>
          <td><%= link_to t('Edit'), edit_member_path(member) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Member'), new_member_path %>
