<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Problem stat')+t('by members')  %></h1>
<sapn><b><%= t('Member') %></b><span>
<span><%= @member.full_name %></span>
    
<h2><%= t('Not solveds') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Created At') %></th>
      <th><%= t('Problem solved?') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% ProblemEvent.where(member: @member.id, solved: false).each do |problem_event| %>
      <tr>
        <td><%= problem_event.name %></td>
        <td><%= Time.zone.at(problem_event.created_at).strftime("%F %T") %></td>
        <td><%= problem_event.print_solved %></td>
        <td><%= link_to t('Show'), problem_event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2><%= t('Solveds') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Created At') %></th>
      <th><%= t('Problem solved?') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% ProblemEvent.where(member: @member.id, solved: true).each do |problem_event| %>
      <tr>
        <td><%= problem_event.name %></td>
        <td><%= Time.zone.at(problem_event.created_at).strftime("%F %T") %></td>
        <td><%= problem_event.print_solved %></td>
        <td><%= link_to t('Show'), problem_event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<td><%= link_to t('Print as PDF'), id: @member.id, format: 'pdf' %></td>
