<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Member') %></h1>

<p>
  <strong><%= t('First name') %>:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong><%= t('Second name') %>:</strong>
  <%= @member.second_name %>
</p>

<p>
  <strong><%= t('Patronymic') %>:</strong>
  <%= @member.patronymic %>
</p>

<p>
  <strong><%= t('Phone') %>:</strong>
  <%= link_to @member.phone, "tel: "+ @member.phone %>
</p>

<p>
  <strong><%= t('Login') %>:</strong>
  <%= @member.login %>
</p>

<p>
  <strong><%= t('Member Type') %>:</strong>
  <%= @member.member_type.name %>
</p>

<%= link_to t('Edit'), edit_member_path(@member) %> |
<%= link_to t('Back'), members_path %>
