<% if notice %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<h1><%= t('Problem stat')+t('by members') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Member') %></th>
      <th><%= t('Problem count') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% Member.where(member_type: 4).order(:second_name).each do |member| %>
      <% cache member do %>
        <tr>
          <td><%= member.full_name %></td>
          <td><%= ProblemEvent.where(member: member.id).count %></td>
          <td><%= link_to t('Show'), '/members/problem?id=' + member.id.to_s %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<!--
<td><%= link_to t('Print as PDF'), format: 'pdf' %></td>
-->
